<template>
	<v-container>
		<v-layout row>
			<v-flex xl8 offset-xl2 lg10 offset-lg1 class="main-content">

        <div class="page-header">
          <h2>{{ book.book }}</h2>
          <v-container grid-list-md pa-0>
            <v-layout row>
              <v-flex sm1 class="hidden-lg-and-up">
                <v-btn fab small dark color="deep-orange lighten-4" v-if="currentChapter > 1" @click="prev" class="chapter-btn prev-btn hidden-lg-and-up">{{ currentChapter-1 }}</v-btn>
              </v-flex>
              <v-flex lg6 sm5 xs12>
                <v-select v-model="currentChapter" :items="chapters" label="Chapter" hide-details solo></v-select>
              </v-flex>
              <v-flex lg6 sm5 xs12 class="hidden-xs-only">
                <v-text-field v-model="searchTxt" label="Search Verse" hide-details solo></v-text-field>
              </v-flex>
              <v-flex sm1 class="hidden-lg-and-up">
                <v-btn fab small dark color="deep-orange lighten-4" v-if="currentChapter < book.chapters.length" @click="next" class="chapter-btn next-btn hidden-lg-and-up">{{ currentChapter+1 }}</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
          <v-btn dark color="deep-orange lighten-4" v-if="currentChapter > 1" @click="prev" class="chapter-btn prev-btn hidden-md-and-down">Chapter {{ currentChapter-1 }}</v-btn>
          <v-btn dark color="deep-orange lighten-4" v-if="currentChapter < book.chapters.length" @click="next" class="chapter-btn next-btn hidden-md-and-down">Chapter {{ currentChapter+1 }}</v-btn>
          <div class="clear-float"></div>
        </div>

        <div class="page-body">
          <h3 class="hidden-md-and-down">Chapter {{ currentChapter }}</h3>
          <div class="verses">
						<p class="verse" v-for="(verse, i) in filteredVerses">
							<span class="verse-number">{{ Object.keys(verse)[0] }}.</span> {{ verse[Object.keys(verse)[0].toString()] }}
						</p>
					</div>
        </div>

			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        searchTxt:'',
        currentChapter: 1,
      }
    },
		mounted() {
			let w = window.innerWidth;
			this.setParallaxHeight(w <= 767 ? 600 : w >= 768 && w <= 991 ? 775 : w >= 992 && w <= 1279 ? 950 : w <= 1280 ? 950 : 950);
		},
    computed: {
      ...mapGetters(['book']),
      chapters: function() {
        return this.book.chapters.map((chap, i) => {
          return parseInt(chap.chapter);
        });
      },
			filteredVerses() {
				return this.book.chapters[this.currentChapter-1].verses.filter((verse, i) => {
					return verse[i+1].toLowerCase().match(this.searchTxt.toLowerCase());
				});
			},
		},
		methods: {
      ...mapActions(['setParallaxHeight']),
      prev() { this.currentChapter--; },
			next() { this.currentChapter++; },
		}
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
  @font-face {
		font-family: 'Day Roman Regular';
		src: url('../../assets/fonts/DAYROM__.ttf'),
				 url('../../assets/fonts/DAYROM_X.ttf');
	}

  .clear-float { clear: both; }

  .main-content {
    margin-top: 150px;
    background-color: rgba(226, 220, 214, 0.705);
    padding: 45px 20px 10px 20px;
  }

  .main-content .page-header { text-align: center; }

  .page-header h2,
  .page-body h3 {
    font-weight: unset;
    color: #222;
  }

  .page-header h2 { font-size: 35px; }

  .page-header .chapter-btn { 
    margin: 10px 0; 
    color: #222;
  }

  .page-header .prev-btn { float: left; }
  
	.page-header .next-btn,
  .page-body .next-btn { float: right; }

  .page-body h3 { font-size: 25px; }

  .page-body .verses {
    height: 510px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  .verses .verse {
    margin: 10px 0;
    color: #222;
    font-size: 18px;
    font-family: 'Day Roman Regular', serif;
  }

  .verse .verse-number {
		font-weight: bold;
		font-family: 'Noto Sans', sans-serif;
	}

	/* xs */
	@media only screen and (max-width: 599px) {
    .main-content {
      padding: 0 5px;
      margin-top: 120px;
    }

    .page-header h2 { font-size: 25px; }

    .page-header .chapter-btn { margin: 4px 0; }

    .page-body { margin-top:10px; }

    .page-body .verses { height: 355px; }
    
    .verses .verse {
      margin: 0;
      font-size: 16px;
    }
  }

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) {
    .main-content {
      padding: 0 5px;
      margin-top: 100px;
    }

    .page-header .chapter-btn { margin: 4px 0; }

    .page-body { margin-top:10px; }

    .page-body .verses { height: 535px; }

    .verses .verse { margin: 5px 0; }
  }

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) {
    .main-content {
      padding: 0 5px;
      margin-top: 100px;
    }

    .page-header .chapter-btn { margin: 4px 0; }

    .page-body { margin-top:10px; }

    .page-body .verses { height: 525px; }

    .verses .verse { margin: 5px 0; }
  }

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) {}

	/* xl */
	@media only screen and (min-width: 1904px) {}
</style>

