<template>
	<v-container fluid>
		<v-layout row>
      <v-flex xl8 offset-xl2 lg10 offset-lg1 class="main-content">
        
        <transition name="fade" mode="out-in">
          <div v-if="books" key="parent-1">
            <h2>Chapter Search</h2>
            <v-text-field label="Genesis, Matthew, etc..." solo v-model="searchTxt"></v-text-field>

            <div class="testament">
              <h3 class="hidden-xs-only">Old Testament</h3>
              <transition-group name="list" tag="div" class="index">
                <div class="book" v-for="(book, i) in oldBooks" :key="'book'+i">
                  <router-link :to="'/books/'+book.replace(/ /g, '')">{{ book }}</router-link>
                </div>
              </transition-group>
            </div>
            <div class="testament">
              <h3 class="hidden-xs-only">New Testament</h3>
              <transition-group name="list" tag="div" class="index">
                <div class="book" v-for="(book, i) in newBooks" :key="'book'+i">
                  <router-link :to="'/books/'+book.replace(/ /g, '')">{{ book }}</router-link>
                </div>
              </transition-group>
            </div>
          </div>
          <div v-else key="parent-2">
            <v-alert :value="true" type="info">Retrieving Index. Please wait.</v-alert>
          </div>
        </transition>

      </v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        searchTxt:''
      }
    },
    mounted() {
      let w = window.innerWidth;
      
      if(w <= 599) { this.setParallaxHeight(1080); }
      else if(w >= 600 && w <= 959) { this.setParallaxHeight(1030); }
      else if(w >= 960 && w <= 1264) { this.setParallaxHeight(780); }
      else if(w >= 1265 && w <= 1903) { this.setParallaxHeight(950); }
      else if(w >= 1904) { this.setParallaxHeight(950); }
    },
    computed: {
      ...mapGetters(['books']),
      oldBooks() {
        return this.books.old.filter((book, i) => {
          return book.toLowerCase().match(this.searchTxt.toLowerCase());
        });
      },
      newBooks() {
        return this.books.new.filter((book, i) => {
          return book.toLowerCase().match(this.searchTxt.toLowerCase());
        });
      }
    },
		methods: {
			...mapActions(['setParallaxHeight'])
		}
  }
</script>

<style scoped>
  .main-content {
    margin-top: 150px;
    background-color: rgba(226, 220, 214, 0.705);
    padding: 45px 20px;
    text-align: center;
  }

  .main-content h2 { font-size: 35px; }

  .main-content h2,
  .testament h3 {
    font-weight: unset;
    color: #222;
  }

  .main-content .v-input {
    width: 50%;
    margin: 0 auto;
  }

  .main-content .testament {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .testament h3 { font-size: 25px; }

  .testament .index {
    padding: 10px 10px 10px 0;
    display:flex;
    flex-wrap: wrap;
  }
  .testament .index:after {
    flex: auto;
    content:'';
  }

  .index .book {
    display: inline-block;
    padding: 10px;
    background-color: #ffccbc;
    margin: 1px;
    white-space: nowrap;
    flex:1;
    text-align: center;
  }
  .index .book:hover { background-color: #E5B7A9; }

  .index .book a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
  }

  /* Search Animation */
  .list-enter-active, .list-leave-active { transition: all 0.25s; }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  /* "Retrieving Books" Animation */
  .fade-enter-active,
	.fade-leave-active { transition: opacity 0.125s }

	.fade-enter,
	.fade-leave-to { opacity: 0 }

  /* xs */
	@media only screen and (max-width: 599px) {
    .main-content {
      padding: 5px;
      margin-top: 120px;
    }

    .main-content .v-input { width: 100%; }

    .main-content .testament { width: 100%; }

    .testament .index { padding: 2px 0; }

    .index .book { padding: 2px 10px; }

    .index .book a { font-size: 19px; }
	}

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) {
    .main-content {
      padding: 10px 20px;
      margin-top: 100px;
    }

    .main-content .testament { width: 100%; }

    .index .book { padding: 5px 10px; }
	}

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) {
    .main-content {
      padding: 10px 20px;
      margin-top: 100px;
    }

    .index .book { padding: 5px 10px; }
	}

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) {
    .main-content { padding: 20px; }
  }

	/* xl */
	@media only screen and (min-width: 1904px) {}
</style>