<template>
	<v-container>
		<v-layout row>
			<v-flex md10 offset-md1 class="main-content">
				<h1>Experience God's Presence</h1>
				<div v-if="verse">
					<p>“{{ verse.body.toUpperCase() }}” ({{ verse.title.toUpperCase() }})</p>
				</div>
				<v-btn class="content-btn index-btn" color="deep-orange lighten-4" to="/books" large>Read the Bible</v-btn>
				<v-btn class="content-btn down-btn" fab dark color="grey" @click="$vuetify.goTo(1000, options)">
					<v-icon class="animated infinite shake" dark>expand_more</v-icon>
				</v-btn>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
		data() {
      return {
        options: {
					duration: 500,
					offset: 0,
					easing: 'easeInOutCubic'
        }
      }
    },
		mounted() {
			let w = window.innerWidth;
			this.setParallaxHeight(w <= 767 ? 600 : w >= 768 && w <= 991 ? 775 : w >= 992 && w <= 1279 ? 950 : w <= 1280 ? 950 : 950);
		},
    computed: {
      ...mapGetters(['verse'])
		},
		methods: {
			...mapActions(['setParallaxHeight'])
		}
  }
</script>

<style scoped>
  .main-content {
    text-align: center;
    margin-top: 200px;
  }

  .main-content h1 {
    font-weight: 400;
    font-size: 5em;
  }

  .main-content p { 
    font-weight: 500; 
    font-size: 1.2em;
    width: 75%;
    margin: 10px auto;
  }

  .main-content .content-btn { margin: 30px auto; }

  .main-content .down-btn { 
    display: block;
    margin-top: 50px; 
  }

	/* xs */
	@media only screen and (max-width: 599px) {
		.main-content h1 {
			font-size: 3.4em;
			line-height: 1;
		}

	  .main-content .content-btn { margin: 10px auto; }
	}

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) {
		.main-content { margin-top: 170px; }

		.main-content h1 { font-size: 3.8em; }

		.main-content .down-btn { margin: 0px auto; }
	}

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) {
		.main-content { margin-top: 120px; }

		.main-content h1 { line-height: 1; }

	  .main-content .content-btn { margin: 0 auto 10px auto; }
	}

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) {}

	/* xl */
	@media only screen and (min-width: 1904px) {}
</style>

