<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Read the King James Bible online, free of charge and with zero ads | Gospel of Christ strives to freely share the account of God's action in the world, and his purpose with all creation, with as many people as possible">
    <meta name="robots" content="index">

    <meta property="og:title" content="Gospel of Christ">
    <meta property="og:description" content="Read the King James Bible online, free of charge and with zero ads.">
    <meta property="og:url" content="https://gospel-of-christ.com">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://gospel-of-christ.com/img/facebook.jpg">
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1920" /> 
    <meta property="og:image:height" content="1080" />

    <title>King James Bible | Gospel of Christ</title>

    <link rel="icon" href="<%= BASE_URL %>img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <style>
      body, html {
        margin: 0px !important;
        height: 100% !important;
        position: relative;
      }
    </style>

    <!-- Google Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>

    <!-- Facebook Sharing -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

    <!-- Twitter Sharing -->
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) { t._e.push(f); };
      return t;
    }(document, "script", "twitter-wjs"));</script>

    <noscript>
      <strong>We're sorry but Gospel of Christ doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
