<template>
  <v-container pa-0 fluid>
    <navbar></navbar>
    
    <parallax-slab>
      <books-parallax></books-parallax>
    </parallax-slab>

    <donation-slab></donation-slab>

    <contact-slab></contact-slab>
  </v-container>
</template>

<script>
  import Navbar from '@/components/Navbar.vue';
  import BooksParallax from '@/components/slots/Books-Parallax.vue';
  
  import ParallaxSlab from '@/components/slabs/Parallax-Slab.vue';
  import DonationSlab from '@/components/slabs/Donation-Slab.vue';
  import ContactSlab from '@/components/slabs/Contact-Slab.vue';

  export default {
    components: { 
      Navbar, 
      ParallaxSlab, 
      DonationSlab, 
      ContactSlab, 
      BooksParallax
    }
  }
</script>