<template>
	<v-container fluid class="slab-root">
		<!-- <v-layout row class="subscribe-sec">
			<v-flex md6 offset-md3 class="text-center">

				<h1>SUBSCRIBE</h1>
				<p>
					By subscribing to Gospel of Christ we will send the daily verse and prayer 
					to your email address. To subscribe for push notifications instead, 
					<a href="/" class="subscribe-link">Click Here</a>.
				</p>
				<v-text-field v-model="subEmail" solo label="Email Address" @keydown.enter="subscribe">
					<template v-slot:append>
						<v-fade-transition group leave-absolute>
							<v-progress-circular key="1" v-if="subscribing" size="24" color="info" indeterminate></v-progress-circular>
							<v-btn key="2" class="sub-btn" v-if="!subscribing" fab small color="deep-orange lighten-4" title="Subscribe" @click="subscribe" :disabled="subscribed"><v-icon>{{ subscribed ? 'done' : 'add' }}</v-icon></v-btn>
						</v-fade-transition>
					</template>
				</v-text-field>

			</v-flex>
		</v-layout> -->
		<v-layout row class="contact-sec">
			<v-flex md6 offset-md3 class="text-center">

				<h1>GET IN TOUCH</h1>
				<p>Feel free to drop us a message in the form below for any queries or suggestions or get in touch via social media.</p>
				<v-text-field v-model="cntName" solo label="Name"></v-text-field>
				<v-text-field v-model="cntEmail" solo label="Email Address"></v-text-field>
				<v-textarea v-model="cntMessage" solo name="input-7-4" label="Message"></v-textarea>
				<div class="recaptcha-box">
					<div id="recaptchaWidget" class="g-recaptcha" :data-sitekey="recaptchaKey"></div>
				</div>
				<v-fade-transition group leave-absolute>
					<v-progress-circular key="1" v-if="contacting" size="24" color="info" indeterminate></v-progress-circular>
					<v-btn key="2" v-if="!contacting" color="deep-orange lighten-4" @click="contact">Send</v-btn>
				</v-fade-transition>

			</v-flex>
		</v-layout>
		<v-layout row class="social-sec">
			<v-flex md6 offset-md3 class="text-center">

				<v-btn class="social-btn" fab color="grey lighten-4" title="Donate on Paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C3NY8S4DVUT2J&source=url" target="_blank">
					<img src="https://img.icons8.com/material/24/212121/paypal.png">
				</v-btn>
				<v-btn class="social-btn" fab color="grey darken-3" title="Share us on Facebook" data-href="https://gospel-of-christ.com/" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgospel-of-christ.com%2F&amp;src=sdkpreparse" target="_blank">
					<img src="https://img.icons8.com/material/24/fefefe/facebook-f.png">
				</v-btn>
				<v-btn class="social-btn" fab color="grey darken-3" title="Share us on Twitter" href="https://twitter.com/intent/tweet?text=Read%20the%20King%20James%20Bible%20online%2C%20free%20of%20charge%20and%20with%20zero%20ads%20%40%20https%3A%2F%2Fgospel-of-christ.com%2F%20pic.twitter.com%2Fzlko5vRfAw">
					<img src="https://img.icons8.com/material/24/fefefe/twitter-squared.png">
				</v-btn>

			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import { mapActions } from 'vuex';

  export default {
		data() {
			return {
				subscribed:false,
				subscribing:false,
				subEmail:'',
				contacting:false,
				cntName:'',
				cntEmail:'',
				cntMessage:'',
				recaptchaKey:process.env.VUE_APP_RECAPTCHA_KEY
			}
		},
		mounted() {
			this.initRecaptcha();
		},
		methods: {
			...mapActions(['displayNotification']),
			subscribe() {
				let app = this;
				if(app.subEmail) {
					// check email address validity here
					app.subscribing = true;
					setTimeout(() => {
						app.subscribing = false;
						app.subscribed = true;
						app.subEmail = '';
					}, 3000);
				} else {
					this.displayNotification({ title:'Warning', msg:'Please enter a valid email address before proceeding.', type:'warning', sticky:undefined });
				}
			},
			contact() {
				let app = this;
				if(app.cntName && app.cntEmail && app.cntMessage && this.validEmail(app.cntEmail) && grecaptcha.getResponse()) {
					app.contacting = true;

					this.$http.post(`${process.env.VUE_APP_SERVER_URL}contact`, {
						name:app.cntName,
						email:app.cntEmail,
						message:app.cntMessage,
						captcha:grecaptcha.getResponse(),
					}).then(ret => {
						// console.log('ret:', ret);
						app.contacting = false;
						app.displayNotification({ title:undefined, msg:ret.body.message, type:ret.body.status, sticky:ret.body.status === 'success' });
						if(ret.body.status === 'success') {
							app.cntName = '';
							app.cntEmail = '';
							app.cntMessage = '';
						}
					}).catch(err => {
						// console.log('err:', err);
						app.contacting = false;
						app.displayNotification({ title:'Error', msg:'An error occurred while submitting your request. Please contact the admins via gospelofchrist001@gmail.com should the problem persist. [FE1]', type:'failed', sticky:true });
					});

				} else {
					let emptyFields = [];
          if(!this.cntName) emptyFields.push('Name');
          if(!this.cntEmail) emptyFields.push('Email');
          if(!this.cntMessage) emptyFields.push('Message');

          if(emptyFields.length > 0) {
            let msg1 = 'The following required fields were empty: ';
            emptyFields.forEach((field, i) => {
              msg1+=field;
              if(i===emptyFields.length-1) msg1+='.';
              else msg1+=', ';
            });
						this.displayNotification({ title:'Warning', msg:msg1, type:'warning', sticky:undefined });
					}
					
					if(!this.validEmail(this.cntEmail)) this.displayNotification({ title:'Warning', msg:'Please enter a valid email address.', type:'warning', sticky:undefined });

					if(!grecaptcha.getResponse()) this.displayNotification({ title:'Warning', msg:'Please confirm that you\'re not a robot.', type:'warning', sticky:undefined });
				}
			},
			validEmail: (string) => {
				let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(String(string).toLowerCase());
			},
      initRecaptcha: function() {
        var self = this;
        if(grecaptcha.render) {
          setTimeout(function() {
            if(typeof grecaptcha === 'undefined') {
              self.initRecaptcha();
            } else {
              if(grecaptcha && grecaptcha.render) {
                grecaptcha.render('recaptchaWidget', {
                  sitekey:process.env.VUE_APP_RECAPTCHA_KEY,
									badge:'inline',
                });
              }
            }
          },100);
        }
      },
		}
  }
</script>

<style scoped>
	.slab-root {
		background-color: #171717;
		color: #fff;
		padding-top: 112px;
	}

	.text-center { text-align: center; }

	.contact-sec,
	.social-sec { margin-top: 50px; }

	.social-sec { margin-bottom: 100px; }

	.subscribe-sec h1,
	.contact-sec h1 { font-size: 40px; }

	.subscribe-sec p,
	.contact-sec p { font-size:16px; }

	.subscribe-sec .subscribe-link {
		color:#FFCCBC;
		text-decoration: none;
	}

	.subscribe-sec .v-input,
	.contact-sec .v-input { margin: 0 auto; }

	.subscribe-sec .subscribe-link:hover { color:#FFAB91; }

	.subscribe-sec .sub-btn { margin-right: 0; }

	.contact-sec .recaptcha-box { text-align: center; }

	.recaptcha-box .g-recaptcha { display: inline-block; }

	/* xs */
	@media only screen and (max-width: 599px) {
		.social-sec { margin-bottom: 50px; }

		.subscribe-sec .v-input,
		.contact-sec .v-input { width: 100%; }
	}

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) {
		.social-sec { margin-bottom: 50px; }

		.subscribe-sec .v-input,
		.contact-sec .v-input { width: 60%; }
	}

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) {
		.subscribe-sec .v-input,
		.contact-sec .v-input { width: 100%; }
	}

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) {
		.subscribe-sec .v-input,
		.contact-sec .v-input { width: 75%; }
	}

	/* xl */
	@media only screen and (min-width: 1904px) {
		.subscribe-sec .v-input,
		.contact-sec .v-input { width: 50%; }
	}
</style>

