<template>
	<v-layout row wrap>
		<v-flex md6 class="left-block">
			
			<h3>About Gospel of Christ</h3>
			<p>"We were put on this earth to help each other because if we do not have each other, we have nothing."</p>
			<p>
				We are a small non-profit initiative hoping to make the world a better place one step at a time. Our main long term goal is 
        to help physically challenged people get as much of a chance at a normal life as possible. We aim to not only create 
        awareness of physical disabilities but to create opportunities that will make solutions more accessible for people in South 
        Africa. Proceeds will be aimed towards furthering research and development of sophisticated prosthetic and other life 
        changing technology that could help someone walk, see or hear again among other disabilities as well as assisted care and 
        education.
			</p>
      <p>
        Through our evolving platform we also aim to help other causes. The platform is not meant to be ours alone but for all of 
        us to help each other. Make us aware of a worthy cause and we will do what we can to create awareness in our online 
        community and hopefully create a channel for donations.
      </p>
      <p>
        A dedicated and supportive community will not only help us achieve our dream but it will help others achieve theirs so we 
        can all help each other get ahead.
      </p>

			<div class="donations" v-if="donation > 0">
				<div class="donation-control">
					<span class="label">Donated: </span>
					<span class="amount">R {{ donation.toFixed(2) }}</span>
				</div>
				<v-btn class="donate-btn" color="deep-orange lighten-4" large href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C3NY8S4DVUT2J&source=url" target="_blank">Donate Now</v-btn>
			</div>

		</v-flex>
		<v-flex md6 class="right-block"></v-flex>
	</v-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    mounted() {
      this.setDonation();
    },
    computed: {
      ...mapGetters(['donation']),
    },
    methods: {
      ...mapActions(['setDonation'])
    }
  }
</script>

<style scoped>
  .left-block { background-color: rgba(27, 24, 24, 0.815); }

  .left-block h3 { 
    color: #fff; 
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .left-block p { 
    color: #999999; 
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .donations .donation-control {
    background-color: #fff;
    padding: 8px 16px;
    border: 2px solid rgba(0,0,0,0.54);
    border-radius: 4px;
    font-size: 1.25em;
  }

  .donation-control .label { color: #999999; }

  .right-block {
    background-image: url('../../assets/img/charBg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

	/* xs */
	@media only screen and (max-width: 599px) {
    .left-block { padding: 5px 10px; }

    .left-block p { line-height: 1.4; }

    .donations .donation-control { display: block; }

    .donations .donate-btn {
      width: 100%;
      margin: 6px 0;
    }

    .right-block {
      background-position: bottom;
      width: 100%;
      height: 200px;
    }
  }

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) {
    .left-block { padding: 5px 10px; }

    .left-block p { line-height: 1.4; }

    .donations .donation-control {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }

    .donations .donate-btn {
      width: 49.5%;
      margin: 6px 0 6px 1%;
    }

    .right-block {
      background-position: center;
      width: 100%;
      height: 300px;
    }
  }

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) {
    .left-block { padding: 5px 10px; }

    .left-block p { line-height: 1.4; }

    .donations .donation-control {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }

    .donations .donate-btn {
      width: 49.5%;
      margin: 6px 0 6px 1%;
    }
  }

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) {
    .left-block { padding: 50px 75px; }

    .left-block p { line-height: 1.4; }

    .donations .donation-control {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }

    .donations .donate-btn {
      width: 49.5%;
      margin: 6px 0 6px 1%;
    }
  }

	/* xl */
	@media only screen and (min-width: 1904px) {
    .left-block { padding: 125px; }

    .left-block p { line-height: 1.4; }

    .donations .donation-control {
      display: inline-block;
      width: 49.5%;
      vertical-align: middle;
    }

    .donations .donate-btn {
      width: 49.5%;
      margin: 6px 0 6px 1%;
    }
  }
</style>

