<template>
  <v-layout row>
    <v-flex md12>
      <v-parallax :src="bg" alt="Background" :height="parallaxHeight">
        <div class="overlay">
          <slot></slot>
        </div>
      </v-parallax>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
        bg:require(`@/assets/img/bg${Math.floor(Math.random()*((5-1)+1)+1)}.jpg`)
      }
    },
    computed: {
      ...mapGetters(['parallaxHeight'])
		}
  }
</script>

<style>
  .v-parallax__content { padding: 0 !important; }
</style>

<style scoped>
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
</style>

