<template>
	<v-container nav-bar fluid pa-0 :class="position">
		<v-layout row wrap nav-inner>

			<v-flex lg3 offset-lg1 md4 sm5 xs12 nav-brand>
				<router-link to="/">
					<div class="brand-top">Gospel of Christ</div>
					<div class="brand-bottom">King James Version</div>
				</router-link>
			</v-flex>

			<v-flex lg3 md4 sm4 xs12 nav-main>
				<ul>
					<li><router-link to="/">Home</router-link></li>
					<li><router-link to="/books">Index</router-link></li>
				</ul>
			</v-flex>

			<v-flex lg3 md3 nav-right>
				<v-btn class="social-btn" fab small :color="position === 'pos-1' ? 'blue-grey' : 'blue lighten-4'" title="Donate on Paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C3NY8S4DVUT2J&source=url" target="_blank">
					<img src="https://img.icons8.com/material/24/ffffff/paypal.png">
				</v-btn>
				<span v-if="!($route.name === 'Book' && $vuetify.breakpoint.xsOnly)">
					<v-btn class="social-btn" fab small :color="position === 'pos-1' ? 'grey' : 'deep-orange lighten-4'" title="Share us on Facebook" data-href="https://gospel-of-christ.com/" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgospel-of-christ.com%2F&amp;src=sdkpreparse" target="_blank">
						<img src="https://img.icons8.com/material/24/ffffff/facebook-f.png">
					</v-btn>
					<v-btn class="social-btn" fab small :color="position === 'pos-1' ? 'grey' : 'deep-orange lighten-4'" title="Share us on Twitter" href="https://twitter.com/intent/tweet?text=Read%20the%20King%20James%20Bible%20online%2C%20free%20of%20charge%20and%20with%20zero%20ads%20%40%20https%3A%2F%2Fgospel-of-christ.com%2F%20pic.twitter.com%2Fzlko5vRfAw">
						<img src="https://img.icons8.com/material/24/ffffff/twitter-squared.png">
					</v-btn>
				</span>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
		data() {
			return {
				scrollPos:0
			}
		},
		mounted() {
			let app = this;
			window.addEventListener('scroll', function(e) {
        app.scrollPos = window.scrollY;
			});
			
			// console.log('route:', this.$route);
			// console.log('breakpoint:', this.$vuetify.breakpoint.mdAndDown);
		},
		computed: {
			position() {
				return this.scrollPos >= 110 ? 'pos-2' : 'pos-1';
			}
		}
  }
</script>

<style scoped>
	/* font-family: 'Day Roman Regular', serif; */
	@font-face {
		font-family: 'Day Roman Regular';
		src: url('../assets/fonts/DAYROM__.ttf'), url('../assets/fonts/DAYROM_X.ttf');
	}

	.nav-bar { z-index: 999; }

	.nav-bar.pos-1 {
		position: absolute;
		margin-top: 20px;
	}

	.nav-bar.pos-2 {
		position: fixed;
		background-color: #fff;
		transition: 0.5s ease-in-out;
	}

	.nav-inner {
		align-items: center;
		padding: 0;
	}

	.nav-bar.pos-1 .nav-brand a { color: #fff; }
	.nav-bar.pos-2 .nav-brand a { color: #222; }

	.nav-brand a {
		text-decoration: none;
		font-weight: bold;
		text-align: center;
	}

	.nav-brand a .brand-top {
		font-size: 32px;
    font-family: 'Day Roman Regular', serif;
    display: block;
	}

	.nav-main ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.nav-main ul li { display: inline-block; }

	.nav-bar.pos-1 .nav-main ul li a { color: #fff; }
	.nav-bar.pos-2 .nav-main ul li a { color: #222; }

	.nav-main ul li a {
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 20px;
		padding: 0 16px;
	}

	.nav-main ul li a:hover { color: #666; }

	/* xs */
	@media only screen and (max-width: 599px) { /* .nav-bar.pos-1 .nav-brand a, .nav-bar.pos-2 .nav-brand a { color: pink; } */
		.nav-bar.pos-2 .nav-brand a .brand-bottom { display: none; }
		.nav-main ul { text-align: center; }

		.nav-bar.pos-1 .nav-right { 
			position: absolute;
			top: 50px;
			right: 5px;
		}

		.nav-bar.pos-2 .nav-right { display: none; }
		.nav-right .social-btn { display: block; }
	}

	/* sm */
	@media only screen and (min-width: 600px) and (max-width: 959px) { /* .nav-bar.pos-1 .nav-brand a, .nav-bar.pos-2 .nav-brand a { color: yellow; } */
		.nav-bar.pos-2 .nav-brand a .brand-bottom { display: none; }
		.nav-main ul { text-align: center; }
		.nav-right { text-align: right; }

		.nav-bar.pos-1 .nav-right { 
			position: absolute;
			top: 10px;
			right: 10px;
			text-align: center;
		}

		.nav-bar.pos-2 .nav-right { display: none; }
		.nav-right .social-btn { margin: 5px; }
	}

	/* md */
	@media only screen and (min-width: 960px) and (max-width: 1264px) { /* .nav-bar.pos-1 .nav-brand a, .nav-bar.pos-2 .nav-brand a { color: red; } */
		.nav-bar.pos-2 .nav-brand a .brand-bottom { display: none; }
		.nav-right { text-align: right; }
	}

	/* lg */
	@media only screen and (min-width: 1265px) and (max-width: 1903px) { /* .nav-bar.pos-1 .nav-brand a, .nav-bar.pos-2 .nav-brand a { color: green; } */
		.nav-inner { padding: 10px; }
		.nav-main ul li a { padding: 16px; }
		.nav-right { text-align: right; }
	}

	/* xl */
	@media only screen and (min-width: 1904px) { /* .nav-bar.pos-1 .nav-brand a, .nav-bar.pos-2 .nav-brand a { color: blue; } */
		.nav-inner { padding: 10px; }
		.nav-main ul li a { padding: 16px; }
		.nav-right { text-align: right; }
	}
</style>

