<template>
  <v-app>
    <router-view></router-view>
    <vue-snotify></vue-snotify>

    <v-snackbar v-model="snackbar.show" :bottom="true" :timeout="snackbar.timeout">
      {{ snackbar.text }} <v-btn color="pink" flat @click="snackbar.show = false">Close</v-btn>
    </v-snackbar>

  </v-app>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    mounted() {
      this.setVerse();
      
      if(!this.books) {
				this.setBooks().catch(err => {
          // console.log('err:', err);
          this.displayNotification(err);
          this.$router.push({ name:'Home' });
        });
      }
      
      if(this.$route.query.status === 'success') {
        this.displayNotification({ 
          title:'Thank you!', 
          msg:'Thank you for the donation! It\'s because of people like yourself that we can keep spreading the message.', 
          type:'info', 
          sticky:{ timeout:3000000, buttons:[], backdrop:0.5, bodyMaxLength:500 } 
        });
      } else if(this.$route.query.status === 'cancel') {
        this.displayNotification({ 
          title:'Oops', 
          msg:'It seems that something has gone wrong during the donation process. Please try again by clicking the Donate button below.', 
          type:'warning', 
          sticky:{ 
            timeout:3000000, 
            buttons:[
              {text: 'Donate', action: () => { window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C3NY8S4DVUT2J&source=url', '_blank') }, bold: true}, 
              {text: 'Cancel', action: null, bold: true}
            ], 
            backdrop:0.5, 
            bodyMaxLength:500 
          }
        });
      }
    },
    computed: {
      ...mapGetters(['books', 'snackbar']),
    },
    methods: {
      ...mapActions(['setVerse', 'setBooks', 'displayNotification'])
    }
  }
</script>
